h1 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-image: url(../images/what-the-hex.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

header {
    background: #ffffff;
    border-color: #cccccc;
}

footer {
    background: #666666;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    border-top: solid 5px #4aaaa5;
}

.nav {}
.nav-links {}

.logo {
    background: #4aaaa5;
    color: #fff;
    padding: 10px;
    width: 160px;
    font-size: 15px;
}

.name {
    color: #ffffff;
}

.about {}
.portfolio {}
.contact {}

.main {
    background: #ffffff;
    border-color: #dddddd;
    width: 98vw;
    max-width: 960px;
    margin: 20px auto;
}

.profile {
    height: 150px;
    width: 150px;
}

