body {
    background-image: url(../images/what-the-hex.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    background: #ffffff;
    border-color: #cccccc;
}

.links {
    
}

.JoeZufelt {
    background: #4aaaa5;
    color: #fff;
    padding: 10px;
    width: 160px;
    font-size: 15px;
}

.About {

}

.Portfolio {

}

.Contact {

}

.main {
    background: #ffffff;
    border-color: #dddddd;
}

#profile {
    height: 150px;
    weight: 150px;
}

footer {
    background: #666666;
    text-align: center;
    color: #ffffff;
    padding-top: 20px;
    border-top: solid 5px #4aaaa5;
}